*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;

    &:visited {
        color: inherit;
    }
}

button {
    font-family: "Orbitron", sans-serif;
}

li {
    list-style-type: none;
}